<template>
    <div>
        <form id="avtar-form">
            <div class="form-group">
                <label for="avtar">Image</label>
                <input type="file" class="form-control" id="avtar" aria-describedby="emailHelp" placeholder="Select avtar">
            </div>

            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</template>

<script>
export default {
    name: "AddAvtar.vue",
    data(){
        return{
            avtar:{

            }
        }
    },
    methods(){

    },
}
</script>

<style scoped>

</style>
