<template>
    <div class="row">
        <div class="col-12">
            <card :title="avtar.title" :subTitle="avtar.subTitle">
                <div class="text-right">
                    <router-link :to="{name :'add-avtar', params: { id: '' }}" class="btn btn-primary" type="submit">Add Avtar</router-link>
                </div>
                <div slot="raw-content" class="table-responsive">
                    <paper-table :data="avtar.data" :columns="avtar.columns"></paper-table>
                </div>
            </card>
        </div>
    </div>
</template>

<script>

import { PaperTable } from "../../../components";
export default {
    name: "Avtar",
    components: {
        PaperTable
    },
    data(){
        return{
            avtar: {
                title: "Avtar",
                subTitle: "",
                columns: ['id', 'image', 'action'],
                data: []
            },

        }
    },
    methods:{
        async getData(url) {
            let base = this;
            await axios.get('avtar')
                .then(res => {
                    base.avtar.data  = res.data.data;
                    console.log(res.data.data);
                })
                .catch(err => {
                    console.log(err);
                })
                .finally(res => {
                });
        },
    },
    mounted() {
        this.getData();
    }
}
</script>

<style scoped>

</style>
